body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Fondo negro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #FFFFFF; /* Color del texto blanco */
}

.login-container, .main-container, .stock-container {
    background-color: rgba(26, 26, 26, 0.8); /* Fondo del contenedor ligeramente más claro y con transparencia */
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    margin-bottom: 20px; /* Agregamos un margen inferior */
}

.logo {
    background-color: #FF0000; /* Fondo rojo del logo */
    border: 2px solid #FFFFFF; /* Bordes blancos */
    border-radius: 5px;
    margin-bottom: 20px;
}

.logo h1 {
    color: #FFFFFF; /* Color blanco para el texto */
    margin: 0;
    padding: 10px;
    font-size: 24px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #333333; /* Borde del input y select */
    border-radius: 10px;
    background-color: #2a2a2a; /* Fondo del input y select */
    color: #FFFFFF; /* Color del texto en el input y select */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000; /* Fondo rojo del botón */
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #CC0000; /* Color más oscuro al pasar el cursor por encima */
}

#message {
    margin-top: 20px;
    color: red;
}

.menu-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000; /* Fondo rojo del botón */
    color: white;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #CC0000; /* Color más oscuro al pasar el cursor por encima */
}

.bodega-container {
    width: 500px; /* Más ancho para mostrar las bodegas como hojas de Excel */
}

.bodega {
    background-color: rgba(42, 42, 42, 0.8); /* Fondo del contenedor con transparencia */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.bodega h3 {
    margin-top: 0;
}

.bodega ul {
    list-style-type: none;
    padding: 0;
}

.bodega li {
    background-color: #333333;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.processing-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF0000; /* Fondo rojo */
    color: #FFFFFF; /* Texto blanco */
    padding: 20px;
    border: 2px solid #FFFFFF; /* Borde blanco */
    border-radius: 5px;
    z-index: 999; /* Para asegurarse de que esté por encima de otros elementos */
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.main-container form label {
    display: block;
    margin-bottom: 10px;
    color: #FFFFFF; /* Color del texto en el formulario */
}

.main-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333333; /* Borde del input */
    border-radius: 5px;
    background-color: #2a2a2a; /* Fondo del input */
    color: #FFFFFF; /* Color del texto en el input */
}

.main-container form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000; /* Fondo rojo del botón */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.main-container form button:hover {
    background-color: #CC0000; /* Color más oscuro al pasar el cursor por encima */
}

.stock-container {
    width: 500px;
    background-color: rgba(42, 42, 42, 0.8); /* Fondo del contenedor */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin-bottom: 20px;
}

.stock-container h2 {
    margin-bottom: 20px;
}

.stock-container p {
    margin: 10px 0;
}

.stock-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000; /* Fondo rojo del botón */
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.stock-container button:hover {
    background-color: #CC0000; /* Color más oscuro al pasar el cursor por encima */
}
/* Estilos para el botón "Agregar" */
.add-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000; /* Fondo rojo del botón */
    color: white;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

.add-button:hover {
    background-color: #CC0000; /* Color más oscuro al pasar el cursor por encima */
}
/* Estilos para el mensaje "Material agregado" */
.added-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF0000; /* Fondo rojo */
    color: #FFFFFF; /* Texto blanco */
    padding: 20px;
    border: 2px solid #FFFFFF; /* Borde blanco */
    border-radius: 5px;
    z-index: 999; /* Para asegurarse de que esté por encima de otros elementos */
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
